<app-top-bar></app-top-bar>
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <app-breadcrumb></app-breadcrumb>
                <!-- /.row -->

                <div class="row">
                    <div >
                        <h2>{{listPageTitle}}</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Country </th>
                                        <th>State </th>
                                        <th>City </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let city of cities">
                                        <td>{{city.country_id.country_name}}</td>
                                        <td>{{city.state_id.state_name}}</td>
                                        <td>{{city.city_name}}</td>
                                        <td> <button type="button" class="btn btn-default btn-sm" (click)="editCity(city)">
                                              <span class="glyphicon glyphicon-edit"></span> Edit
                                            </button> 
                                        </td>                                       
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div >
                        <!-- <app-city-form [name]="editCityObject"></app-city-form> -->

                        <h2>{{createCityTitle}}</h2>
                        <form role="form">
                            <div class="form-group">
                                <label>City Name</label>
                                <input class="form-control" type=text name="cityName" [(ngModel)]="cityModel.city_name" placeholder="Enter city name">
                            </div>

                            <!-- <div class="form-group">
                                <label>Select State</label>
                                <input  type=text name="lastName" class="form-control" [(ngModel)]="userModel.lastName" placeholder="Enter your last name">
                            </div>

                            <div class="form-group">
                                <label>Select Country</label>
                                <input class="form-control"  type=text name="email" [(ngModel)]="userModel.email" placeholder="Enter your email address">
                            </div> -->
                            <button  *ngIf="labelForAdding == 'Add City'" type="submit" class="btn btn-default" (click)="createCity()">{{labelForAdding}}</button>

                            <button *ngIf="labelForAdding == 'Edit City'" type="submit" class="btn btn-default" (click)="updateCity()">{{labelForAdding}}</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>

                        </form>
                    </div>
                    
                </div>
                                <!-- /.row -->

                
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>