<h2>{{createCityTitle}}</h2>
<form role="form">
    <div class="form-group">
        <label>City Name</label>
        <input class="form-control" type=text name="cityName" [(ngModel)]="cityModel.city_name" placeholder="Enter city name">
    </div>

    <!-- <div class="form-group">
        <label>Select State</label>
        <input  type=text name="lastName" class="form-control" [(ngModel)]="userModel.lastName" placeholder="Enter your last name">
    </div>

    <div class="form-group">
        <label>Select Country</label>
        <input class="form-control"  type=text name="email" [(ngModel)]="userModel.email" placeholder="Enter your email address">
    </div> -->

    <button type="submit" class="btn btn-default" (click)="createOrUpdateCity()">Add User</button>
    <button type="reset" class="btn btn-default">Reset Button</button>

</form>
